<tr id="<%= dom_id url %>">
  <td>
    <a href="/u/<%= url.short_url %>" target="_blank"><%= url.short_url %></a>
  </td>

  <td>
    <%= url.long_url %>
  </td>

  <td>
    <%= url.description %>
  </td>

  <td>
    <%= link_to "Edit this url", edit_url_path(url) %>
  </td>

</tr>
